# Dependencies
node_modules/
.pnp
.pnp.js

# Testing / Local Data (automatically seeded on startup)
data/*.json

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Operating System
.DS_Store
Thumbs.db

# Secrets
.env

.vercel
